body {
  height: 100vh;
  .main, #__layout, #__nuxt{
    height: 100vh;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .border-none {
    border: 1px solid #fff;
    box-shadow: none;
    padding-left: 0;
    &:hover {
      border: 1px solid #fff;
      box-shadow: none;
    }
  }
}
